{% assign content = site.data.content['marq'] %}
{% assign ui_text = site.data.ui-text['ui_text'] %}
{% assign categories = site.data.settings['marq'] %}

<!-- ==================== Start marq ==================== -->

<section class="marquee-skew">
    <div class="container-fluid rest">
        <div class="row">
            <div class="col-12">
                <div class="main-marq lrg">
                    <div class="slide-har st1">
                                <div class="box non-strok">
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Team Specialized Lille</span>
                                            <span class="fz-50 ml-50 stroke icon">*</span>
                                        </h4>
                                    </div>
                                </div>
                                <div class="box non-strok">
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Team Specialized Lille</span>
                                            <span class="fz-50 ml-50 stroke icon">*</span>
                                        </h4>
                                    </div>

                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ==================== End marq ==================== -->
